@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');



body{
  background-color:hsl(31, 62%, 84%);
  font-family: 'Young Serif', serif;
  font-style: normal;

  /* font-family: 'Young Serif', serif; */
}
.name{
  font-family: 'Young Serif', serif;
  font-size: 2rem;
  font-weight: 500;
}
.description{
  font-family: 'Young Serif', serif;
  font-size: .7rem;
}

.rectangle2{
  font-family: 'Young Serif', serif;
  min-width: 20rem;
  border-radius: 5px 5px 5px 5px;
  background-color: hsl(330, 100%, 98%);
  padding: 1.5625rem;
}

li{
  font-family: 'Young Serif', serif;
  font-size: 0.7rem;
}

span{
  font-family: 'Young Serif', serif;
  font-weight: 500;
}
.prep{
  font-family: 'Young Serif', serif;
  color: hsl(332, 51%, 32%);
  font-size: 1.2rem;
  font-weight: 500;
}
.ingr{
  font-family: 'Young Serif', serif;
  font-size: 1.4rem;
  color:  hsl(14, 45%, 36%);
}
.instr{
  font-size: 1.4rem;
  color:  hsl(14, 45%, 36%);
}

.num-list{
  font-family: 'Young Serif', serif;
  list-style-type: decimal;
}

.nutr{
  font-family: 'Young Serif', serif;
  font-size: 1.4rem;
  color:  hsl(14, 45%, 36%);
}
.regT{
  font-size: 0.7rem;
  color: hsl(24, 5%, 18%);
  font-family: 'Young Serif', serif;
}
.numb{
  color:  hsl(14, 45%, 36%);
  font-size: 0.7rem;
  font-family: 'Young Serif', serif;
}
@media (min-width: 769px) {
  .rectangle {
    display: inline-block;
    width: 35rem; 
    min-height: 3.125rem; 
    padding: 1.5625rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 10px 10px;
    align-content: center;
    color: hsl(24, 5%, 18%);
  }
  
  img{
    width: 35rem;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .rectangle {
    display: inline-block;
    min-width: 22.125rem;
    min-height:  3.125rem; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 10px 10px;
    align-content: center;
    color: hsl(24, 5%, 18%);
  }
  img{
    width: 34rem;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2rem;
  }
}